@font-face {
	font-family: poppins;
	src: url(font/Poppins-Regular.otf);
  }
  
  
  body {
	  height: 100vh;
	  margin: 0;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  /* background: #009FFF;  
	  background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF); 
	  background: linear-gradient(to left, #ec2F4B, #009FFF); */
  
  }
  
  
  .flash-warning {
	text-align: center;
	font-family: arial;
	font-weight: bold;
	color: gray;
	font-size: 11px;
  }
  
  i {
	color:gray;
	margin-left: 10px;
  }
  
  .img-field {
	margin: auto;
	display: block;
	margin-top: 120px;
  }
  
  /* ====================================== */
  
  .img-logo {
	margin: auto;
	display: block;
	width: 150px;
	padding-top: 40px !important;
  }
  
  .div-form {
	margin-top: 30px;
  }
  
  .btn-submit {
	display: block;
	margin: auto;
	margin-top: 11px;
	font-family: poppins;
	font-size: 12px;
	width: 100px;
	height: 35px;
	border-radius: 30px;
	border: 1px solid transparent;
	background: #ec2F4B;
	color: #f2f2f2;
	box-shadow: 0 2px 2px #333;
	transition: all .3s;
	outline: none;
  }
  
  .btn-submit:hover {
	background: rgba(56,74,204,.6);
  }
  
  .login-field {
	background: #eee;
	padding: 6px 0px;
	width: 76%;
	margin: auto;
	border-radius: 30px;
	font-family: poppins;
  }
  
  .login-field i {
	padding: 5px;
  }
  
  .login-field input {
	overflow: visible;
	width: 80%;
	font-size: 12px;
	border: none;
	background: transparent;
	outline: none;
	margin-left: 10px;
  }
  
  .login-card {
	width: 400px;
	margin: auto;
  }
  
  .system-title {
	text-align: center;
	  font-family: poppins;
	  font-size: 15px;
	  color: #666;
	  margin-top: 13px;
	  text-shadow: 0px 1px 2px #aaa;
  }
  
  .login-footer {
	font-size: 12px;
	font-family: poppins;
	color: #777;
  }
  
  .edition {
	font-family: poppins;
	font-size: 12px;
	color: #777;
	text-shadow: 0px 1px 1px #aaa;
  }
  
  
  